:root {
  --orange-50: #fff2e6;
  --orange-100: #ffd6b9;
  --orange-200: #ffcf8a;
  --orange-300: #ffac54;
  --orange-400: #ff9433;
  --orange-500: #ff7900;
  --orange-600: #ed6e00;
  --orange-700: #b55f00;
  --orange-800: #8c4a00;
  --orange-900: #6b3300;

  --primary: #ff7900;
}
