@import '~bootstrap/dist/css/bootstrap.min.css';

@import "./assets/styles/styles.scss";

ul.react-paginate {
  margin-bottom: 0;
  border-radius: 0.25rem;
  padding: 0 0.25rem !important;
}

.pagination {
  li.page-item {
    a.page-link {
      color: var(--black-800);
      background-color: var(--white);
      align-items: center;
      border-color: var(--black-50);
      border-radius: 0.25rem;
      margin-left: 6px;
      line-height: inherit;
      padding: 0.55rem 0.8rem;
    }

    &.active a.page-link {
      z-index: 2;
      color: #fff;
      background-color: var(--primary, #0d6efd);
      border-color: var(--primary, #0d6efd);
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }

    &.disabled {
      .page-link {
        color: #c2c2c2 !important;
        background-color: transparent !important;
        border-color: transparent;
      }
    }
  }

  span.page-link {
    line-height: 1.4;
  }
}

.simple-pagination {
  .page-item:not(.active):not(:first-child):not(:last-child) {
    display: none !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
